[Unit]
Description=Meshtastic web bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/meshtastic-web
ExecStart=/home/pi/meshtastic-web/venv/bin/python3 /home/pi/meshtastic-web/routeur.py
Restart=always
RestartSec=10
Environment=MESHTASTIC_CONNECTION=serial
Environment=MESHTASTIC_PORT=
Environment=WEB_HOST=0.0.0.0
Environment=WEB_PORT=5000

# Allow serial port acces (USB) of Meshtastic module
SupplementaryGroups=dialout

[Install]
WantedBy=multi-user.target
